.container{
  height: 100vh;
}

.header{
  height: 3em;
  background-color: #ce3531;
  display: flex;
  align-items: center;
  color:white;
  padding-left: .5em;
  font-weight: bold;
  font-size: 1.6em;
}

.left{
  flex: 1;
  padding: 1em;
}

.right{
  padding: 1em;
  flex: 2;
}

.spread-row{
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
}

.flex-end{
  display: flex;
   justify-content: flex-end;
}

.small-padding{
  padding: 1em
}